<%= render "frontend/header" %>
<div class="main-content">
  <%= render "frontend/sidebar" %>
  <div class="content-area">
    <%= render "frontend/dashboard" %>
  </div>
</div>
<%= render "frontend/modal_undo" %>
<%= render "frontend/modals_edit" %>
<%= render "frontend/modals_search" %>
<%= render "frontend/modals_create" %>
<%= render "frontend/modals_delete" %>
<%= render "shared/confirm_dialog" %>
<%= render "shared/notification" %>
